/*Front page overhaul*/
body{
  background-image: url("../resources/background3.jpg");
  background-size: 135%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

/*Format logo on login page*/
.logo {
  text-align: center;
  margin: auto;
  color: #440066;
  background-color: #eeeeff;
  width: 65%;
  padding-top: 1%;
}

.logo h1{
  display: inline;
  vertical-align: middle;
  font-size: 6em;
}

.logo img{
  display: inline;
  height: 6em;
}

/*Signup greeting formating*/
.greeting{
  text-align: center;
  margin: auto;
  color: #eeeeff;
  width: 65%;
}

.greeting h1{
  font-size: 6em;
}

/*format login*/
.login {
  text-align: center;
}

<<<<<<< HEAD
.frontpagelink {
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
=======
/*format signup*/
.signup {
  text-align: center;
}

/*Links to other pages*/
.frontpagelink {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: white;
>>>>>>> 5df69af19b08c1e543e4352511bf9d545d065931
}
